:root {
  --color1:  #ff0bac;
  --color2:  #00bec5;
  --color3:  #54086b;
  --color4:  aliceblue;
  --color5:  #050833;
}

* {
  margin: 0;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  grid-area: navbar;
  overflow: hidden;
  background-color: var(--color3);
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#titulo {
  width: 100%;
  color: var(--color4);
  background-color: var(--color5);
}

#botonMenu{
  background-color: var(--color3);
  cursor: pointer;
}

.link a{
  color: var(--color4);
}

.nav #links {
  display: none;
  width: 100%;
}

nav .link {
  font-size: 17px;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem;
}

.nav a{
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  transition: 0.5s;
}

.nav a:hover {
  border-bottom: solid var(--color2) 2px;
  transition: 0.5s;
}

.icono {
  height: 20px;
  width: 20px;
  margin: 0 0.5rem;
}


.main {
  flex-grow: 1;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color5);
  color: aliceblue;
}

button {
  color: aliceblue;
  margin: 2rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  background-color: var(--color1);
  border: 0;
  border-radius: 0.5em;
  transition: 0.4s;
  cursor: pointer;
  font-size: larger;
}

button:hover {
  transform: translate(0, -5px);
  /* box-shadow: 0px 10px 50px var(--color1); */
}

table{
  margin-left: auto;
  margin-right: auto;
}

td{
  padding: 0 1rem;
}

.infoPantalla{
  font-size: 2rem;
}


#graficos {
  background-color: var(--color5);
  color: var(--color4);
  width: 100%;
  margin-top: 2rem;
}

#lineas {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.footer {
  color: var(--color4);
  background-color: var(--color5);
  padding: 0.5rem 0.5rem;
  padding-top: 1rem;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer div a img:hover{
  box-shadow: 0px 0px 25px var(--color4);
  transition: 0.5s;
}